.buttonsContainer {
    display: flex;
    padding: 70px 70px 0 70px;
    gap:25px;

}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 373px;
    gap: 105px;
    padding:0 70px
}

.imageContainer {
}

.image {
}

.textContainer{
    display: flex;
    flex-direction: column;
    max-width: 510px;
}

.code {
    padding: 0 0 17px 12px;
    font-size:  30px;
    font-weight: 500;
     line-height: 37px;
}

.text {
}
.info {
}