.select {
    font-size: 14px;
    font-weight: 400;
    width: 165px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #C2C2C2;
    background: #FFF;
    position: relative;
}

select:focus {
}

.option:hover {

}
